GCP_PROJECT_ID=INSERT #NAME OF GCP PROJECT
DATA_DIR=/../meltano-olist/data
GOOGLE_APPLICATION_CREDENTIALS= #PATH TO SERVICE ACCOUNT JSON FILE
TARGET_BIGQUERY_CREDENTIALS_PATH= #PATH TO SERVICE ACCOUNT JSON FILE
TARGET_BIGQUERY_PROJECT_ID=INSERT #NAME OF GCP PROJECT
TARGET_BIGQUERY_DATASET=INSERT #NAME OF RAW TABLES FROM BIGQUERY E.G. olist_raw
TARGET_BIGQUERY_LOCATION=US #DEFAULT = US