GCP_PROJECT_ID=#NAME OF GCP PROJECT 
GOOGLE_APPLICATION_CREDENTIALS= # PATH TO SERVICE ACCOUNT JSON FILE
DATA_DIR=#PATH TO MELTANO RAW DATA FOLDER /../meltano-olist/data
DBT_PROFILES_DIR= # PATH TO DBT FOLDER E.G. /../dbt_olist
DASHBOARD_URL=#URL TO GOOGLE DATA STUDIO DASHBOARD
